*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://media.giphy.com/media/3hvmlYNsOTFWE/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
#categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#joke {
    margin-top: 20px;
    font-weight: bold;
}

divCat{
        margin: 0 auto;
        margin-top: 20px;
        padding:  50px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border: 2px solid black;
        background-color: green;
        color: black;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.1s ease-in-out;
        box-shadow: 0 9px #999;
}

divCat:hover{
    background-color: black;
        color: red;
    }
divCat:active{
    background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

#searchInput{
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: text;

}
#searchButton{
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;

}
h1{
    color:white;

    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#joke{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;

}
h2{
    color: white;
        font-size: 30px;
        padding-top: 80px;
        text-align:start;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    background-color: #31EC56;
}